@page
@model CroatianProject.Pages.Admin.AddFieldModel
@{
    ViewData["Title"] = "Добавление полей для разметки";
}
<html>
<head>
    <script src="~/js/fieldConnectionController.js"></script>
</head>
<body>
    <div>
        <div style="float:left;">
            <h3>Добавить поле</h3>
            <form method="post">
                Название признака:<br />
                <textarea style="text-wrap:none; white-space:nowrap; resize:none;" rows="1" cols="20" asp-for="FieldName"></textarea><br />
                Описание признака: <br />
                <textarea style="text-wrap:none; white-space:nowrap; resize:none;" rows="3" cols="20" asp-for="FieldDesc"></textarea><br />
                Ограничено ли множество значений пользователем, или значения уникальны и присваиваются в процессе ввода?:<br />
                @foreach (var option in Model.UserFilledOptions)
                {
                    <input type="radio" asp-for="Filled" value="@option" />@option<br />
                }
                Значения признака: <br />
                <textarea style="text-wrap:none; white-space:nowrap; resize:none;" rows="5" cols="20" asp-for="FieldVals"></textarea><br />
                Может ли одна единица обладать несколькими значениями признака?<br />
                @foreach (var option in Model.MultiplyOptions)
                {
                    <input type="radio" asp-for="Multiply" value="@option" />@option<br />
                }
                Признак принадлежит: <br />
                документу? <br />
                тексту? <br />
                единице деления текста? <br />
                токену? <br />
                графеме? <br />
                @foreach (var option in Model.ValueTypeOptions)
                {
                    <input type="radio" asp-for="Type" value="@option" />@option<br />
                }
                <button asp-page-handler="add">Добавить признак</button>
            </form>
        </div>
        <div style="float:right;">
            <h3>Связать поля</h3>
            <div id="values" style="display:none">
                @try
                {
                    foreach (var field in Model.FieldList)
                    {
                        @if (field != "Any")
                        {
                            @(field + "|")
                        }
                    }
                }
                catch
                {

                }
            </div>
            Исходное поле/значение:
            <select id="fieldMother">
                <option>Any</option>
            </select>
            <select id="valueMother">
                <option>Any</option>
            </select>
            <br />
            @try
            {
                if (Model.FieldList.Count > 0)
                {

                    @foreach (var field in Model.FieldList)
                    {
                        @if (field != "Any")
                        {
                            <input type="checkbox" class="fieldChildren" id="@field" />@field<br />
                        }
                    }
                }
            }
            catch
            {

            }
            <br />            
            <button id="submit">Связать поля</button><br/>
            <button id="clear" div align="right">Очистить поле ввода</button>
            <form method="post">
                <textarea rows="20" cols="50" id="connections" asp-for="connections" readonly></textarea><br />
                <button asp-page-handler="connect">Внести изменения</button>
            </form>
        </div>
    </div>

    <div style="clear:both;"></div>
</body>
</html>
    
    


