@page
@model CroatianProject.Pages.AddTextModel
@{
    ViewData["Title"] = "Загрузить текст";
}
<html>
<head>
</head>
<body>
    <h2 align="center" id="word"> Загрузить текст</h2>    


    <div style="min-width:500px; width:100%;">

        <div align="center">
            <form method="get">
                Выберите документ для добавления текста:<br />
                <select asp-for="documentChosen">
                    @foreach (var doc in Model.documents)
                    {
                        <option>@(doc.documentID + "_" + @doc.documentName)</option>
                    }
                </select>
                <input type="submit" class="btn btn-default" />
            </form>            
        </div>
        <div style="min-height:300px; height:600px; min-width:250px; width:50%; float:left;">            
            <iframe src="@Model.googleDocPath" style="min-height:300px; height:485px; min-width:250px; width:100%;"></iframe>
        </div>

        <div style="min-height:300px; height:600px; min-width:250px; width:50%; float:right;" align="center">
            <form asp-page-handler="process" method="post">
                <div>
                    <div align="center">Текст:</div><br />
                    <textarea cols="@Model.Cols" rows="@Model.Rows" asp-for="processedString">Текст</textarea><br />
                    <input type="submit" class="btn btn-default" />
                </div>
            </form>

        </div>
    </div>

    <div style="clear:both;"></div>
</body>
</html>



