@page
@model CroatianProject.Pages.AddTextModel
@{
    ViewData["Title"] = "Загрузить текст";
}
<html>
<head>
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/textTagging.js"></script>
</head>
<body>
    <h2 align="center" id="word"> Загрузить текст</h2>


    <div style="min-width:500px; width:100%;">

        <div align="center">
            <form method="get">
                Выберите документ для добавления текста:<br />
                <select asp-for="documentPicked">
                    @foreach (var doc in Model.documents)
                    {
                        <option>@(doc.documentID + "_" + @doc.documentName)</option>
                    }
                </select>
                <input type="submit" class="btn btn-default" />
            </form>
        </div>
        <br />
        <br />
        <br />
        <div style="min-height:300px; height:1500px; min-width:250px; width:50%; float:left;">
            <iframe src="@Model.googleDocPath" style="min-height:300px; height:485px; min-width:250px; width:100%;"></iframe>
        </div>

        <div style="min-height:300px; height:1500px; min-width:250px; width:50%; float:right;" align="center">
            <form asp-page-handler="process" method="post">
                <div>
                    <div align="center">Название текста:</div><br />
                    <textarea cols="@Model.Cols" rows="1" asp-for="textName"></textarea><br />
                    <div align="center">Текст:</div><br />
                    <textarea cols="@Model.Cols" rows="@Model.Rows" asp-for="processedString"></textarea><br />
                    <div align="center">Технические символы:</div><br />
                    <textarea cols="@Model.Cols" rows="1" asp-for="stopSymbols"></textarea><br />
                    Перевести ли слова в нижний регистр? <input type="checkbox" asp-for="decapitalization" /><br />
                    <div id="values" style="display:none">
                        @try
                        {
                            foreach (var field in Model.FieldList)
                            {
                                @if (field != "Any")
                                {
                                    @(field + "|")
                                }
                            }
                        }
                        catch
                        {

                        }
                    </div>
                    <div align="center">Поля:</div><br />
                    <select id="keys">
                        <option>Any</option>
                    </select> <br> <br />
                    <select id="thisFieldValues" style="opacity:0.0">
                        <option>Any</option>
                    </select> <br />
                    <textarea id="userValue" style="opacity:0.0" rows="1" cols="25"></textarea> <br /> <br />
                    <button id="submit" type="button">Добавить поле</button><br /><br />
                    <div id="connected"></div> <br /> <br />
                    <button id="clear" type="button">Очистить поле ввода</button><br />
                    <textarea rows="20" cols="50" id="connections" asp-for="connections" readonly></textarea><br />
                    <input type="submit" class="btn btn-default" />
                </div>
            </form>

        </div>
    </div>

    <div style="clear:both;"></div>
</body>
</html>