@page
@model CroatianProject.Pages.CollectDictionaryModel
@{
    ViewData["Title"] = "Collect dictionary";
}
<html>
    <head>
        <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
        <script src="~/js/collectDictionary.js"></script>
        <link rel="stylesheet" type="text/css" href="~/css/tokens.css" />
    </head>
    <body>
        <h2 align="center">Collect dictionary</h2>
        <div align="justify">
            <form method="post">
                <label>Would you like to save acquired text to file? @Html.CheckBox("dictsToFiles")</label><br/>
                <strong>Available texts</strong><br />
                @foreach (var option in Model.documentNames)
                {
                    <label><input name="chosenTexts" type="checkbox" value="@option" /> @option</label><br />
                }
                <button>Collect</button>
            </form>
        </div>
        <h2 align="center">Collect parallel dictionary</h2>
        <div align="justify">
            <form method="post" asp-page-handler="parallel">
                <label>Would you like to save acquired text to file? @Html.CheckBox("parallelDictsToFiles")</label><br/>
                <strong>Available texts</strong><br />
                @foreach (var manuscript in Model.parallelDocumentNames)
                {
                    @foreach(var part in manuscript.Value)
                    {
                        var partOfManuscriptFullName = manuscript.Key + ": " + part;
                        <label><input name="chosenTexts" type="checkbox" value="@partOfManuscriptFullName" /> @(partOfManuscriptFullName.Split(" (")[0])</label><br />
                    }
                    <br />

                }
                <button>Collect</button>
            </form>
        </div>
        <div align="justify">
            @if (Model.convertedTexts != null) {
                @foreach (var text in Model.convertedTexts)
                {
                    @Html.Raw(text)<br/>
                }
            }
        </div>
    </body>

</html>
